<div class='login-container'>
  <h1 class="primary-bg">Login</h1>
  <div class="p-15">
    <form id='login-form'>
      <input type='email' id='email-login' placeholder='Username / Email' />
      <input type='password' id='password-login' placeholder='Password'/>
      <button id='login-btn' type='submit'>Login</button>
      <a href="/signup">Signup instead</a>
    </form>
  </div>
</div>

<script src='/js/login.js'></script>