<div class='signup-container'>
  <h1 class="primary-bg">Sign up</h1>
  <div class="p-15">
    <form id='signup-form'>
        <input type='text' id='username-signup' placeholder='Username'/>
        <input type='email' id='email-signup' placeholder='Email'/>
        <input type='password' id='password-signup'placeholder='Password'
        />
        <button id='submit-btn' type='submit'>Signup</button>
        <a href="/login">Login instead</a>
    </form>
  </div>
</div>
<script src='/js/signup.js'></script>